{% load staticfiles %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bookmark/style.css' %}" />


<form class="form-inline" action="../updateBookmarkAndShow/{{URLID}}/" method="POST">
{% csrf_token %}
  <div class="form-group ">
    <input type="text" class="form-control col-sm-8" id="inputString" name="updatedURL" value={{URL}} placeholder="URL here">
    <br/><br/>
    {% for tagRow in tag_list%}
    	<input type="checkbox" {% if tagRow.TagID in TagIDList%} checked="checked" {% endif %} name="selectedIds[]" value="{{tagRow.TagID}}">{{tagRow.Tag}}<br/>
    	{% endfor%}
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>

<a href="../{{URLID}}">Show</a> | <a>Back</a>