{% load staticfiles %}
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="{% static 'bookmark/style.css' %}" />
 
<body>

<h1>Editing tag</h1>

<form class="form-inline" action="../updateTagAndShow/{{TagID}}/" method="POST">
{% csrf_token %}
  <div class="form-group ">
    <input type="text" class="form-control col-sm-8" id="inputString" name="updatedTag" value='{{Tag}}' placeholder="To add <Url>,<Tag1>,<Tag2>,<Tag3>,.., | To search <Tag>">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>

<a href="/tags/{{TagID}}">Show</a> |
<a href="/tags">Back</a>

</body>