<!--
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>  
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


-->

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bookmark/style.css' %}" />


<h1>Minimal Bookmark</h1>
<h3>Instructions!</h3>
<p>
    To add new bookmark: type: url,tag1,tag2,tag3 [Add]
    To search: type: tag in field and click [Search]
</p>



<h4>Tags</h4>

<div id="tags">
{% if tag_list %}
    <ul>
    {% for tagRow in tag_list %}
        <li>{{tagRow.TagID}},{{ tagRow.Tag }}</li>  
    {% endfor %}
    </ul>

{% else %}
    <p>No tags are available.</p>
{% endif %}
</div>

<h4>URLS</h4>

<div id="url">
{% if url_list %}
    <table>
    {% for urlRow in url_list %}
    <tr>
        <td>{{urlRow.URLID}},<a href="{{ urlRow.URL }}">{{ urlRow.URL }}</a></td>
        <td>
        <a href = "/bookmark/{{urlRow.URLID}}">Show</a> 
        <a href = "/bookmark/{{urlRow.URLID}}/edit">Edit</a> 
        <a href = "/bookmark/{{urlRow.URLID}}/destroy">Destroy</a>
  </td>
</tr>
    {% endfor %}
    </table>

{% else %}
    <p>No URL are available.</p>
{% endif %}
</div>

<h4>Tags and URls IDs</h4>

<div id="url">
{% if url_tag_list %}
    <ul>
    {% for urlTagRow in url_tag_list %}
        <li>{{urlTagRow.URLID}},{{ urlTagRow.TAGID }}</li>  
    {% endfor %}
    </ul>
{% else %}
    <p>No URL are available.</p>
{% endif %}
</div>
