#searchbox {
    background: #437cc2;
    background-image: -moz-linear-gradient(#fff, #d4e8ec);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a1c8f9), color-stop(1, #fff));
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 600px;
    height: 35px;
    padding: 10px;
    margin: 40px auto 5px;
    overflow: hidden;
    z-index: 100
}
#tagbox {
    background: #b4d0f3;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 580px;
    padding: 20px 15px 30px 15px;
    margin: 0px auto 5px;
    overflow: hidden;
    z-index: 99
}
#tagbox span {
    background: #fff;
    padding: 2px 4px 2px 4px;
    color: #000;
    size: 200%
}
#resultbox {
    background: #b4d0f3;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 600px;
    height: 200px;
    padding: 20px 5px 5px 5px;
    margin: 0px auto 0px;
    overflow-x: hidden;
    z-index: 99
}
#search,
#submit {
    float: left
}
#search {
    padding: 5px 9px;
    height: 35px;
    width: 479px;
    border: 1px solid #a4c3ca;
    font: normal 13px "trebuchet MS", arial, helvetica;
    background: #f1f1f1;
    -moz-border-radius: 5px 3px 3px 5px;
    border-radius: 5px 3px 3px 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #fff
}
#add-input {
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6cbb6b), color-stop(1, #95d788));
    -moz-border-radius: 3px 5px 5px 3px;
    border-radius: 3px 5px 5px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
}
#add-input:hover {
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #95d788), color-stop(1, #6cbb6b))
}
#add-input:active {
    background: #95d788;
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset
}
#add-input::-moz-focus-inner {
    border: 0
}
body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px
}
p,
ol,
ul,
td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px
}
pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px
}
a {
    color: #000
}
a:visited {
    color: #666
}
a:hover {
    color: #fff;
    background-color: #000
}
div.field,
div.actions {
    margin-bottom: 10px
}
#notice {
    color: green
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff
}
#error_explanation ul li {
    font-size: 12px;
    list-style: square
}
body {
    background: #fafafa;
}